// component css goes here
@import "../../../styles/variables.scss";

.LogoTop { 
    font: 4.1em; 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 100px;
    font-weight: 700;
    text-align: center;
    margin: 75px;

}

.logoMain {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }


.card {
    margin-top: 24px
    
}
.row{
    margin:auto;
}
form {
    label {
        padding-bottom: 6px;
        font: 2em $font-family;

    }

    .form-action {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;

    }
    .error {
        padding-bottom: 6px;
    }
}