@import "../../../styles/variables.scss";

.card {
    margin-top: 24px;
    box-shadow: 5px 5px 5px rgb(0, 0, 0);   
}

.row{
    margin:auto;
}

.usernamePassword {
    padding-bottom: 6px; 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px; 
    color:rgb(192, 192, 192);
    


}




form {

    label {
        padding-bottom: 6px;
        font: 2em $font-family;

    }

    .form-action {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        margin-bottom: 10px;

    }
    .error {
        padding-bottom: 6px;
    }
}
.center{
    margin:auto;

}
